.addbook-container {
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure form is centered vertically */
  }
  
  .form-container {
    margin: 70px;
    width: 400px; /* Adjust the width of the form container */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  

  