.cards {
  display: flex;
  flex-wrap: wrap;
  justify-items:left;
  justify-content: space-evenly;
}

.card {
  width: 22rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%;
  height: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.Description {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.price {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.priceAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.btn {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Input {
  width: 4rem;
  height: 3rem;
  text-align: center;
  font-size: 1rem;
}
/* Increment and Decrement Button Styles */
.increment,
.decrement {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.increment {
  background-color: #5cb85c;
  color: white;
}

.increment:hover {
  background-color: #4cae4c;
}

.decrement {
  background-color: #d9534f;
  color: white;
}

.decrement:hover {
  background-color: #c9302c;
}

/* Total Quantity and Amount Styles */
.total {
  margin-top: 20px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.Paybtn{
  position: relative;
  top: -55px;
  padding: 0px 14px;
  width: 100px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1;
}

.Paybtn:hover {
  background-color: #0056b3;
}
